<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogUserFormServlet</servlet-name>
        <servlet-class>com.phone.view.LogUserFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServisPhoneFormServlet</servlet-name>
        <servlet-class>com.phone.view.ServisPhoneFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogUserServlet</servlet-name>
        <servlet-class>com.phone.contoller.LogUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.phone.contoller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServisPhoneServlet</servlet-name>
        <servlet-class>com.phone.contoller.ServisPhoneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveRepair</servlet-name>
        <servlet-class>com.phone.contoller.SaveRepair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFormServlet</servlet-name>
        <servlet-class>com.phone.view.SearchFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchImeiServlet</servlet-name>
        <servlet-class>com.phone.contoller.SearchImeiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseFormServlet</servlet-name>
        <servlet-class>com.phone.view.CloseFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseServlet</servlet-name>
        <servlet-class>com.phone.contoller.CloseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogUserFormServlet</servlet-name>
        <url-pattern>/log_servlet.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServisPhoneFormServlet</servlet-name>
        <url-pattern>/servis_phone_form.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogUserServlet</servlet-name>
        <url-pattern>/log_user_servlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/log_out.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServisPhoneServlet</servlet-name>
        <url-pattern>/servis_phone_servlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveRepair</servlet-name>
        <url-pattern>/save_repair.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFormServlet</servlet-name>
        <url-pattern>/search_form.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchImeiServlet</servlet-name>
        <url-pattern>/search.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseFormServlet</servlet-name>
        <url-pattern>/close_form.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseServlet</servlet-name>
        <url-pattern>/close.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
